{% extends 'base.html.twig' %}

{% block title %}ATS{% endblock %}

{% block body %}

{# Formu ekrana bastırmak için yorum satırındaki
    şekilde değil de aşağıdaki gibi kullandım 
    böylece formu özelleştirebildim. #}
    
{# {{form(form)}} #}

<div class="container">
    {{ form_start(form) }}
        <div class="my-custom-class-for-errors">
            {{ form_errors(form) }}
        </div>

{# {{dump(form)}} #}

        <h2 class="text-center my-3">Araç Takip Sistemi</h2>
        <div id="messages"></div>
        <div class="row mt-5">
            <div class="col">
                {{ form_widget(form.customer.name) }}
            </div>
            <div class="col">
                {{ form_widget(form.customer.surname) }}
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-6">
                {{ form_widget(form.customer.phoneNumber) }}
            </div>
        </div>
        <div class="row my-3">
            <div class="col">
                {{ form_widget(form.vehicleBrand) }}
            </div>
            <div class="col">
                {{ form_widget(form.vehicleModel) }}
            </div>
        </div>
        <div class="row">
            <div class="col">
            <label for="service_info_repairDate">Tamir tarihi seçiniz:</label>
                {{ form_widget(form.repairDate) }}
            </div>
        </div>
        <div class="row my-3">
            <div class="col">
                {{ form_widget(form.repairType) }}
            </div>
            <div class="col">
                {{ form_widget(form.repairPlace) }}
            </div>
        </div>
    <div class="col-12">
        <button type="submit" id="submitForm" class="btn btn-primary">Sign in</button>
    </div>
    {{ form_end(form) }}
</div>

{% endblock %}

{% block javascripts %} 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script>

    $(document).ready(function(){
        $("#service_info_vehicleBrand").change(function(){
            $("#service_info_vehicleModel").html('');
            let id = $('#service_info_vehicleBrand').val();

            $.ajax({
                type: 'POST',
                url: '/getModel',
                data: {
                    id: id
                },
                success: function(result){
                    Object.entries(result.vehicle_models).map((m) => $("#service_info_vehicleModel").append(`<option value="${m[0]}">${m[1]}</option>`))
                },
                error: function(error){
                    alert('error');
                },
            });
        });

        $("#service_info_repairType").change(function(){
            $("#service_info_repairPlace").html('');
            var repairTypeId = $('#service_info_repairType').val();

            $.ajax({
                type: 'POST',
                url: '/getRepairPlace',
                data: {
                    id: repairTypeId
                },
                success: function(result){
                    Object.entries(result.repair_places).map((p) => $("#service_info_repairPlace").append(`<option value="${p[0]}">${p[1]}</option>`))
                    
                },
                error: function(error){
                    alert('error');
                },
            });
        });

        $("form[name=service_info]").on('submit', function(e){
            e.preventDefault();
            $.ajax({
                type: 'POST',
                url: '/index',
                data: new FormData(this),
                processData: false,
                contentType: false,

                success: function(result){
                    $("#messages").html(
                        `
                            <div id="alert" class="alert alert-${result.alert}" role="${result.alert}">
                                ${result.message}
                            </div>
                        `
                    );
                    
                    setInterval(() => {
                        $("#alert").fadeOut();
                    }, 5000);
                },
                error: function(error){
                    console.log('error');
                },
            });
        });
    });
    </script>
{% endblock %}